<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Users/Home">Your Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Projects/Create">Add a New Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Teams/Create">Add a New Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Teams/JoinTeam">Join a Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Projects/ViewProjects">View Your Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Tasks/ViewTasks">View Your Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Tasks/FindTasks">Find Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users/SearchForUser">Search Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Login/SignOut">Sign Out</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
</nav>


<!--<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Users" asp-action="Home">Your Profile</a></li>
                <li><a asp-controller="Projects" asp-action="Create">Add a new project</a></li>
                <li><a asp-controller="Teams" asp-action="Create">Add a new team</a></li>
                <li><a asp-controller="Teams" asp-action="JoinTeam">Join a team</a></li>
                <li><a asp-controller="Projects" asp-action="ViewProjects">View your projects</a></li>
                <li><a asp-controller="Tasks" asp-action="ViewTasks">View your tasks</a></li>
                <li><a asp-controller="Tasks" asp-action="FindTasks">Find tasks</a></li>
                <li><a asp-controller="Users" asp-action="SearchForUser">Search Users</a></li>
                <li><a asp-area="" asp-controller="Login" asp-action="SignOut">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>-->