@model TaskManager.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name Details</h2>

@if(Model.Description != null)
{
    <h5>Team description: @Model.Description</h5>


}
else
{
    <h5>Team description: None</h5>

}
<br />
<br />
<h2>Users in @Model.Name</h2>
<br />

@foreach(var user in ViewBag.UsersInTeam)
{
    <p>@user.User</p>

}