@model TaskManager.ViewModels.JoinTeamViewModel

<br />
<div class="card border-primary mb-3" style="max-width: 30rem;">
    <div class="card-header">Join a team</div>
    <div class="card-body">
        <h5>Joining a team will enable you to filter through all projects the creator of the team has made by selecting the team name in 'Find Tasks"</h5>
        <br />
        <form method="post" action="JoinTeam">
            <div class="form-group">
                @Html.DropDownList("Team", new SelectList(Model.Teams, "Value", "Text"), "-Select Team-")
            </div>
            <span asp-validation-for="Team" class="text-danger"></span>
            <br />
            <input type="submit" value="Select" />
        </form>
    </div>
</div>

   