@model TaskManager.ViewModels.TeamProjectsViewModel


<h1>All Projects for team @Model.Team.Name</h1>

@foreach (var project in Model.AllProjects)
{
    <h1>Title: <a asp-controller="Task" asp-action="FindTasks_ViewTasks" asp-route-id="@project.ProjectID">@project.Name</a></h1>
    <h2> Tasks: @project.Tasks.Count</h2>


}

@if (Model.AllProjects.Count == 0)
{
    <h1>No projects to display</h1>

}


